.App {
  text-align: center;
}

/********** these function are let picture CLOCKWISE **********/
.App-clockWise {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-clockWise {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/****** these function are let picture COUNTERCLOCKWISE *******/
.App-counterClockWise {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-counterClockWise {
    animation: App-logo-counterSpin infinite 10s linear;
  }
}

@keyframes App-logo-counterSpin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.switch
{
  position: relative;
  display: inline-block;
  /* ---- size ---- */
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input 
{
  opacity: 0; 
  width: 0; 
  height: 0;
}

.slider 
{
  position: absolute;
  cursor: pointer; 
  top: 0;
  left: 0; 
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before 
{ 
  position: absolute; 
  content: "";
  height: 26px;
  width: 26px;
  left: 4px; 
  bottom: 4px; 
  background-color: white; 
  -webkit-transition: .4s; 
  transition: .4s;
  border-radius: 34px;
}

input:checked + .slider:before 
{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.App-link {
  color: #61dafb;
}

[data-theme="dark"]{
  --background-color:#181a1b;
  --foreground-color:#567aff;
  --primary-text-color:#f6f6f6;
  --secondary-text-color:#000000;
  color: #f6f6f6;
}